*{
  margin: 0%;
  padding: 0%;
}

.cabecalho {    
    background-image: linear-gradient(#F5F5F5, #824392, #9976A1);
  color: black;
  display: block;
  justify-content: space-around;
}

.cabecalho-itens {
  font-size: 24px;
  margin: 5px;
  display: inline-block;
}

.cabecalho-logo{
  width: 100%;
height: 90%;
}








